* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.container {
}

#profile {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    padding-top: 25px;
    background-color: rgb(46, 65, 89);
}

#profile-image {
    height: 150px;
    width: 150px;
}

#header-text {
    font-size: 24px;
    font-family: 'Rock Salt', cursive;
    color: #F28177;
}

#visible-for-lg {
    display: none;
}

#socials {
    display: flex;
    height: 60px;
    flex-flow: row nowrap;
    align-items: center;
    gap: 50px;
}

.social-links {
    color: #fff;
}

.social-links:hover {
    color: #F28177;
    text-decoration: none;
    
}

.main-section {
    background-color: #fff;

}


.section-title {
    font-size: 32px;
    font-weight: 500;
    margin: 50px 0;
    text-align: center;
}

.card {
    margin: 25px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.card-body {
    padding: 25px;
    
}

.card-title {
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 10px;
}

.publication-link {
    text-decoration: none;
    color: #212529;
}

.publication-link:hover {
    text-decoration: underline;
}

.card-text {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4em;
}

.card-footer {
    border-top: 1px solid #ccc;
    background-color: rgba(0,0,0,.03);
    padding: 10px 25px;
}

.card-footer > small {
    font-size: 12px;
    font-weight: 300;
}

.post {
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.post-text {
    font-weight: 300;
    margin: 20px 0;
    line-height: 1.4em;
}

.post-list-item {
    font-weight: 300;
    font-style: italic;
    margin: 10px 0;
    margin-left: 30px;
    
}

.post-link {
    text-decoration: underline;
    color: #212529;
}

.post-link:hover {
    font-style: italic;
}

.post-quote {
    border-left: 3px solid #212529;
    padding-left: 10px;
    font-style: italic;
    font-weight: 300;
}

.image {
    max-width: 100%;
    height: auto;
}



/* LG DEVICE VIEWPORT */
@media (max-width: 1600px) and (min-width: 992px) {
    
    .container {
        display: flex;
    }
    
    #profile {
        justify-content: start;
        height: 100vh;
        min-width: 400px;
        max-width: 25%;
        padding-top: 50px;
    }

    .main-section {
        overflow: auto;
        height: 100vh;
        max-width: 1200px;
    }

    .section-title {
        margin: 100px 0 75px 0;
    }

}


@media (min-width: 1600px){
    .container {
        display: flex;
        justify-content: center;
    }
    

    #profile {
        position: fixed;
        top: 0;
        left: 0;
        justify-content: start;
        height: 100vh;
        max-width: 25%;
        padding-top: 50px;
    }


    .main-section {
        margin-left: 300px;
        height: 100vh;
        max-width: 1000px;
    }

    .section-title {
        margin: 100px 0 75px 0;
    }

}
